@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SalesTracker.Models.Inventory

<h4>Edit news letter: @Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.InventoryId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description)

    @Html.LabelFor(model => model.Price)
    @Html.EditorFor(model => model.Price)

    <input type="submit" value="Save" class="btn btn-default" />
}